* {
    margin: 0%;
    padding: 0%;
    
}





    
@media screen and (max-width: 600px){


   #ign{
       font-size: 50px;
   }
   #erm{
       font-size: 50px;
   }
   .fa{
       font-size: 150%;
   }
   .flex-container{
    display: flex;
    flex-direction: column;
   }
   #asd{
   
    border-top: 10px solid rgb(218, 116, 21);
    margin-bottom: 20px;

}
#dsa{

    border-top: 10px solid rgb(27, 96, 223);
    margin-bottom: 20px;

}
#sad{
    border-top: 10px solid rgb(224, 60, 19);
    margin-bottom: 20px;
    

}
#das{

    border-top: 10px solid rgb(45, 207, 212);
    margin-bottom: 20px;
}

article{
    background-color: rgb(240, 240, 240);
    place-content: center;
    width: 90%;
    height: 200px;
    border-radius: 7px;

}
Section{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 10%;
}
.tobb{
    font-size: xx-large;

}
.tobbi {
    font-size: x-large;
}



}

h1{
    text-align: center;
}

div{
    border-radius: 7px;
}

img{
    float: right;
}
p{
    text-align: center;
}
@media screen and (min-width:601px){

    #erm{
        font-size: xx-large;
    }
    #asd{
        grid-row: 4/6;
        grid-column: 2/3;
        border-top: 10px solid rgb(218, 116, 21);
        
    
    }
    #dsa{
        grid-row: 3/5;
        grid-column: 3/4;
        border-top: 10px solid rgb(27, 96, 223);
        
     
    }
    #sad{
        grid-row: 2/4;
        grid-column: 2/3;
        border-top: 10px solid rgb(224, 60, 19);
        margin-bottom: 20px;
        
    
    }
    #das{
        grid-row: 3/5;
        grid-column: 1/2;
        border-top: 10px solid rgb(45, 207, 212);
        gap: 10px;
       
      
  
    }
    article{
        background-color: rgb(240, 240, 240);
        display: grid;
        gap: 10px;
        place-content: center;
        width: 300px;
        height: 200px;
        border-radius: 7px;
      
    
    }
    section{
        display:grid;
        gap: 50px;
        justify-content: center;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(6, 1fr);
        
     
    }
}